# IGNORE EVERYTHING
*

# ALLOW .CONFIG ITSELF
!.config/

# ALLOW README
!README.md

!.local/
!.local/bin/
!.local/bin/**

# ALLOW SELECTED CONFIGS
!.config/hypr/
!.config/hypr/**

!.config/waybar/
!.config/waybar/**

!.config/kitty/
!.config/kitty/**

!.config/nvim/
!.config/nvim/**

!.config/fastfetch/
!.config/fastfetch/**

!.config/fish/
!.config/fish/**

!.config/rofi/
!.config/rofi/**

!.config/yazi/
!.config/yazi/**

!.config/mako/
!.config/mako/**

!.config/starship.toml

