# IGNORE EVERYTHING
*

# ALLOW .CONFIG ITSELF
!.config/

# ALLOW SELECTED CONFIGS
!.config/hypr/
!.config/hypr/**

!.config/waybar/
!.config/waybar/**

!.config/kitty/
!.config/kitty/**

!.config/nvim/
!.config/nvim/**

!.config/fastfetch/
!.config/fastfetch/**

!.config/fish/
!.config/fish/**

!.config/rofi/
!.config/rofi/**

!.config/swaync/
!.config/swaync/**

!.config/yazi/
!.config/yazi/**

!.config/starship.toml

