# ignore everything
*

# allow .config itself
!.config/

# allow selected configs
!.config/hypr/
!.config/hypr/**

!.config/waybar/
!.config/waybar/**

!.config/kitty/
!.config/kitty/**

!.config/nvim/
!.config/nvim/**

!.config/fastfetch/
!.config/fastfetch/**

!.config/fish/
!.config/fish/**

!.config/rofi/
!.config/rofi/**

!.config/swaync/
!.config/swaync/**

!.config/theme/
!.config/theme/**

!.config/yazi/
!.config/yazi/**

!.config/starship.toml

