@import "waybar_colors.css";

* {
  font-family: "JetBrainsMono Nerd Font";
  font-size: 14px;
  color: @fg;
}

window#waybar {
  background: @bg;
  border: 1px solid @border;
  border-radius: 12px;
  padding: 3px 10px;
}

#workspaces button {
  all:unset;
  padding: 0 6px;
  margin: 0 3px;
  transition: 0.2s;
}

#workspaces button label {
  color: @fg;
}

#workspaces button.active label {
    color: @blue;
}

#clock,
#battery,
#pulseaudio,
#tray
{
  padding: 0 10px;
  margin: 0 5px;
}

tooltip {
  background-color: @black;
  border-radius: 6px;
}

#custom-wayves_left,
#custom-wayves_right {
  padding: 6px 15px;
}

#custom-pomo {
  padding: 6px 12px;
  font-weight: 500;
  transition: background 0.15s ease, color 0.15s ease;
}

