/* ───────────────────────────────────────────────────────────────────
   「✦ WAYBAR VERTICAL STYLES ✦ 」
   ──────────────────────────────────────────────────────────────── */

/* ── IMPORTS ──────────────────────────────────────────────────────*/
@import "../../.cache/wal/colors-waybar.css";

/* ── GLOBAL ───────────────────────────────────────────────────────*/
* {
  font-family: "JetBrainsMono Nerd Font";
  font-size: 13px;
  border: none;
  border-radius: 0;
  min-height: 0;
  min-width: 0;
}

window#waybar {
  background: transparent;
  color: @foreground;
}

/* ── MODULES CONTAINER ────────────────────────────────────────────*/
.modules-left,
.modules-right {
  background: alpha(@background, 0.5);
  border: 1px solid #5E5E5E;
  border-radius: 10px;
  padding: 12px 8px;
}

.modules-left {
  margin-bottom: 10px;
}

/* ── WORKSPACES ───────────────────────────────────────────────────*/
#workspaces {
  margin: 0;
  padding: 0;
}

#workspaces button {
  padding: 6px 0;
  color: alpha(@color7, 0.4);
  transition: 0.3s ease;
}

#workspaces button:hover {
  background: none;
  color: @foreground;
  box-shadow: none;
  text-shadow: none;
}

#workspaces button.active {
  color: @color5;
}

/* ── MODULES ──────────────────────────────────────────────────────*/
#clock,
#battery,
#pulseaudio,
#tray {
  padding: 8px 0;
  margin: 0;
}

#clock:hover,
#battery:hover,
#pulseaudio:hover {
  background: alpha(@foreground, 0.1);
  border-radius: 8px;
}

/* ── TRAY ─────────────────────────────────────────────────────────*/
#tray {
  padding: 6px 0;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
}
