@import "../../.cache/wal/colors-waybar.css";

* {
  font-family: "JetBrainsMono Nerd Font";
  font-size: 14px;
  border: none;
  border-radius: 0;
  min-height: 0;
}

window#waybar {
  background: transparent; /* Essential */
  color: @foreground;
}

.modules-center {
  background: alpha(@background,0.5);
  border: 1px solid #5E5E5E;
  border-radius: 15px;
  padding: 12px 10px; /* Adjust padding inside the island */
}
/* --- Modules --- */

#workspaces {
  margin-right: 10px;
  padding-right: 10px;
  border-right: 1px solid alpha(@foreground, 0.2); /* Subtle separator after workspaces */
}

#workspaces button {
  padding: 0 2px;
  color: alpha(@foreground, 0.4);
  transition: 0.3s ease;
}

#workspaces button:hover {
  background: none;
  color: @foreground;
  box-shadow: none;
  text-shadow: none;
}

#workspaces button.active {
  color: @background;
}

#clock,
#battery,
#pulseaudio,
#custom-pomo,
#tray {
  padding: 0 8px;
  margin: 0;
}

/* Hover effects for interactivity */
#clock:hover,
#battery:hover,
#pulseaudio:hover,
#custom-pomo:hover {
  background: alpha(@foreground, 0.1);
  border-radius: 8px;
}

#custom-pomo {
  color: alpha(@foreground, 0.6);
  font-weight: bold;
}


/* Tooltip Styling */
tooltip {
  background: alpha(@background,0.5);
  border: 1px solid @background;
  border-radius: 8px;
}

tooltip label {
  color: @foreground;
}

