* {
  font-family: "JetBrainsMono Nerd Font";
  font-size: 14px;
  color: #B1BAB1;
}

window#waybar {
  background: rgba(15, 15, 15, 0.15); /* subtle dark, change to taste */
  border: 2px solid rgba(255, 255, 255, 0.08);
  border-radius: 12px;
  padding: 3px 10px;
}

#workspaces button {
  all:unset;
  padding: 0 6px;
  margin: 0 3px;
  color: #B1BAB1;
  transition: 0.2s;
}

#workspaces button.active {
    color: #FFFFFF;
    border: none;
}

#clock,
#battery,
#pulseaudio,
#tray
{
  padding: 0 10px;
  margin: 0 5px;
}

tooltip {
  background-color: #222;
  color: #FFF;
  border-radius: 6px;
}

#custom-wayves_left,
#custom-wayves_right {
  padding: 6px 15px;
}
/* Pomodoro widget */
#custom-pomo {
  padding: 6px 12px;
  /* color: #e8e8e8; */
  font-weight: 500;
  transition: background 0.15s ease, color 0.15s ease;
}

/* Hover highlight */

/* When timer is running — highlight */
#custom-pomo.running {
  /* color: #ff7373; */
  font-weight: 600;
}

/* When finished */
#custom-pomo.done {
  /* color: #6fff6f; */
  font-weight: 600;
}
