/* ───────────────────────────────────────────────────────────────────
   「✦ ROFI CONFIG ✦ 」
   ──────────────────────────────────────────────────────────────── */

/* ── CONFIGURATION ────────────────────────────────────────────────*/
configuration {
    modi: "drun";
    show-icons: true;
    sidebar-mode: false;

    display-drun: "Apps";
}

/* ── THEME ────────────────────────────────────────────────────────*/
@theme "~/.config/rofi/themes/glass.rasi"
