@import url("/home/darsh/.cache/wal/colors-waybar.css");

/* ── Global ───────────────────────────── */

* {
  all: unset;
  font-family: "JetBrainsMono Nerd Font";
  font-size: 16px;
  color: @foreground;
}

/* ── Window ───────────────────────────── */
window {
  background-color: alpha(@background, 0.5); /* keep glass */
  border: 1px solid #5E5E5E;
  border-radius: 10px;
  padding: 0px;
}

/* ── Layout boxes ─────────────────────── */
#outer-box {
  padding: 0px;
}

#inner-box {
  padding: 0px;
}

/* ── Input (Search bar) ───────────────── */
#input {
  padding: 8px 10px;
  border-radius: 0px;
}

/* Remove icon padding weirdness */
#input image {
  margin-right: 10px;
}

#entry image {
  margin-right: 10px;
}

/* ── Scroll ───────────────────────────── */
#scroll {
  margin: 0px;
}

/* ── Entries ──────────────────────────── */
#entry {
  padding: 6px 8px;
  margin: 0px;
}


/* Selected entry (Rofi-style) */
#entry:selected {
  background-color: alpha(@foreground, 0.1);
  border-radius: 3px;
}

